<% layout("/layouts/boilerplate") %>

    <script>
        const mapToken = "<%= process.env.MAP_TOKEN %>"
    </script>

    <body>

        <div class="row">
            <div class="col-8 offset-1">

                <h3 class="my-3">
                    <%= listing.title %>
                </h3>
            </div>


            <img src="<%= listing.image.url  %>" class="card-img-top  show-img image-fluid " alt="listing_image">
            <p class="card-text">Owned by : <i>
                    <%= listing.owner.username %>
                </i></p>
            <div class="card listing-card col-6 offset-3">

                <div class="card-body ">
                    <p class="card-text mt-3">
                        <%= listing.description %> <br>
                    </p>
                    <p class="card-text">&#8377 <%= listing.price ? listing.price.toLocaleString("en-IN")
                            : 'Price not available' %>
                            / night
                            <br>
                            <%= listing.location %> <br>
                                <%= listing.country %>
                    </p>



                </div>


            </div>



            <% if(currUser && currUser._id.equals(listing.owner._id)|| currUser && currUser.isAdmin) { %>
                <div class=" btns">
                    <a href="/listings/<%= listing._id  %>/edit" class="btn btn-dark offset-3 edit-btn ">Edit</a>

                    <form action="/listings/<%=listing._id  %>?_method=DELETE" method="post">
                        <button class="btn btn-dark offset-2  ">Delete</button>
                    </form>
                </div>
                <% } %>


                    <div class="col-8 offset-2 my-3">
                        <hr class="col-10">
                        <% if(currUser){ %>
                            <h4>Leave a review</h4>
                            <form action="/listings/<%= listing._id%>/reviews" method="post"
                                class="mt-3 needs-validation" novalidate>


                                <label for="rating" class="form-label">Rating</label>
                                <fieldset class="starability-slot">


                                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]"
                                        value="1" checked aria-label="No rating." />
                                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                    <label for="first-rate1" title="Terrible">1 star</label>
                                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                    <label for="first-rate2" title="Not good">2 stars</label>
                                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                    <label for="first-rate3" title="Average">3 stars</label>
                                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                    <label for="first-rate4" title="Very good">4 stars</label>
                                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                    <label for="first-rate5" title="Amazing">5 stars</label>
                                </fieldset>





                                <div class="col-10">
                                    <label for="comment" class="form-label">Comments</label>
                                    <textarea name="review[comment]" id="comment" cols="30" rows="5"
                                        class="form-control" required></textarea>
                                    <div class="invalid-feedback"> Please enter comments for review</div>
                                </div>

                                <button class="btn btn-outline-dark my-3">Submit</button>
                            </form>
                            <hr>
                            <% } %>

                                <div class="row">
                                    <% if(!listing.reviews || listing.reviews.length==0) {%>
                                        <h5 class="mb-2">No reviews yet</h5>
                                        <% } %>
                                    <% if(listing.reviews&&listing.reviews.length>0) {%>
                                        <h4><p>All reviews</p></h4>

                                        <% } %>

                                            <% for(let review of listing.reviews) { %>

                                                <div class="card col-md-5 col-xs-12 mb-3 ms-3">
                                                    <div class="card-body">
                                                        <h5 class="card-title">@<%= review.author.username %>
                                                        </h5>
                                                        <p class="starability-result card-text"
                                                            data-rating=<%=review.rating %>>
                                                        </p>
                                                        <p class="card-text">
                                                            <%=review.comment %>
                                                        </p>

                                                    </div>
                                                  
                                                    <% if(currUser && ( currUser.isAdmin || currUser._id.equals(review.author._id))) { %>
                                                        <form class="my-3"
                                                            action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE"
                                                            method="post">
                                                            <button class="btn btn-sm btn-dark">Delete</button>
                                                        </form>
                                                        <% } %>
                                                        

                                                </div>
                                                <% } %> 
                                </div>
                    </div>
                    <div class="col-10 offset-2 my-3 mb-3">
                       
                        <h4>Where you'll be</h4>
                        <div class="col-9 mb-3">
                            <div id='map' class='map image-fluid'></div>

                        </div>

                    </div>


        </div>
    
       <script>
        const query = "<%= listing.location %>"
       </script>
        <script src="/js/map.js"></script>
    </body>